<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OFF.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,83}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,63},{408,83}}</string>
                <key>sourceSize</key>
                <string>{480,211}</string>
            </dict>
            <key>ON.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{384,83}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{384,83}}</string>
                <key>sourceSize</key>
                <string>{480,211}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{289,133}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,51},{289,133}}</string>
                <key>sourceSize</key>
                <string>{363,215}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{259,96}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,72},{259,96}}</string>
                <key>sourceSize</key>
                <string>{409,220}</string>
            </dict>
            <key>foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{354,47}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{354,47}}</string>
                <key>sourceSize</key>
                <string>{452,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a3a1d645000cc91a997fb68cb25f6a4$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
