<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boom01.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,386},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>Boom02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,128},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{46,52}</string>
            </dict>
            <key>Boom03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>Boom04.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,474},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>Boom05.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,424},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Boom06.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,318},{104,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>Boom07.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,318},{114,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,118}}</string>
                <key>sourceSize</key>
                <string>{114,118}</string>
            </dict>
            <key>Boom08.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,378},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>Boom09.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,278},{84,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{84,98}</string>
            </dict>
            <key>Boom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,178},{84,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{84,98}</string>
            </dict>
            <key>Brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,352},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,128},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>Bullet01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,398},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>Bullet02.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,386},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>Bullet03.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,166},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>Bullet04.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,154},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>Bullet05.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,142},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>Bullet06.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,164},{5,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,20}}</string>
                <key>sourceSize</key>
                <string>{5,20}</string>
            </dict>
            <key>FireButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>GL_Life01.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,424},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>GL_Life02.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,465},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>GL_Pause01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,434},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>G_Contiue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,83},{221,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,79}}</string>
                <key>sourceSize</key>
                <string>{221,79}</string>
            </dict>
            <key>G_Contiue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,241},{210,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,75}}</string>
                <key>sourceSize</key>
                <string>{210,75}</string>
            </dict>
            <key>G_Menu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{221,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,79}}</string>
                <key>sourceSize</key>
                <string>{221,79}</string>
            </dict>
            <key>G_Menu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{210,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,75}}</string>
                <key>sourceSize</key>
                <string>{210,75}</string>
            </dict>
            <key>G_Next01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{221,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,79}}</string>
                <key>sourceSize</key>
                <string>{221,79}</string>
            </dict>
            <key>G_Next02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,164},{210,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,75}}</string>
                <key>sourceSize</key>
                <string>{210,75}</string>
            </dict>
            <key>G_Replay01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,79}}</string>
                <key>sourceSize</key>
                <string>{221,79}</string>
            </dict>
            <key>G_Replay02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{210,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,75}}</string>
                <key>sourceSize</key>
                <string>{210,75}</string>
            </dict>
            <key>Iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,318},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>King.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,537},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Kingdie.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,68},{60,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,516},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>PointCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>Star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,471},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Tank01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Tank02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,603},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Tank03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,595},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Tank04.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,576},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Tank05.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,570},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Tank06.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,570},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Tank07.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,526},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Tank08.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,526},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Tank09.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,526},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28229e818281417274105a125530be60$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
