<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{70,100}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>quit_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{900,448}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{518,297},{900,448}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>quit_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{170,174}}</string>
                <key>offset</key>
                <string>{-18,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{857,412},{170,174}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>quit_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{170,174}}</string>
                <key>offset</key>
                <string>{-34,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{841,428},{170,174}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,74},{80,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{80,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,74},{176,32}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,47},{176,32}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84a18833630e1524b836b4cb2012ad1e$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
